<div class="row">
  <div class="col align-self-center">
    <form class="formInvoiceLoader" [formGroup]="formInvoiceLoader" (ngSubmit)="onSubmit()">
      <div class="form-group row inputFormGroup">
        <label class="col col-form-label">Invoice Number</label>
        <div class="col col-form-input">
          <input class="form-control" type="text" placeholder="00000000" length="8" formControlName="invoiceId">
        </div>
      </div>
      <div class="form-group row inputFormGroup">
        <label class="col col-form-label">Net</label>
        <div class="col col-form-input">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
            <input class="form-control" type="text" placeholder="0" formControlName="net" (change)="onChanges()">
          </div>
        </div>
      </div>
      <div class="form-group row inputFormGroup">
        <label class="col col-form-label">% Tax</label>
        <div class="col col-form-input">
          <select class="custom-select" formControlName="taxPercent" (change)="onChanges()">
            <option [ngValue]="-1" hidden [selected]>Select Tax %</option>
            <option [ngValue]="0"> 0% </option>
            <option [ngValue]="10.5"> 10,5% </option>
            <option [ngValue]="21"> 21% </option>
            <option [ngValue]="27"> 27% </option>
          </select>
        </div>
      </div>
      <div class="form-group row inputFormGroup">
        <label class="col col-form-label">Total</label>
        <div class="col col-form-input">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
            <input class="form-control" type="text" placeholder="0" disabled formControlName="total" >
          </div>
        </div>
      </div>
      <div class="form-group row btnFormGroup">
        <label class="col col-form-label labelBtnForm">&nbsp;</label>
        <div class="col">
          <button name="add" class="btn btn-outline-success btn-block btnForm">
            Add
          </button>
        </div>
      </div>
      <div class="form-group row btnFormGroup">
        <label class="col col-form-label labelBtnForm">&nbsp;</label>
        <div class="col">
          <button name="clear" class="btn btn-outline-danger btn-block btnForm">
            Clear
          </button>
        </div>
      </div>
    </form>
    <div class="row" *ngIf="(submitted && f.invoiceId.errors)">
      <div class="col alert alert-danger" role="alert">
        <p *ngIf="f.invoiceId.errors.required && f.invoiceId.status == 'INVALID'">Invoice Number is required</p>
      </div>
    </div>
    <div class="row" *ngIf="(existInvoice)">
      <div class="col alert alert-danger" role="alert">
        <p>This invoice number already exists in the list.</p>
      </div>
    </div>
    <div class="row" *ngIf="(submitted && ( f.net.errors))">
      <div class="col alert alert-danger" role="alert">
        <p *ngIf="f.net.errors.required && f.net.status == 'INVALID'">Net amount is required</p>
      </div>
    </div>
  </div>
</div>
<div class="row desktopVersion" *ngIf="existInvoices">
  <div class="col align-self-center">
    <table class="table text-center">
      <thead class="thead-dark">
        <th scope="col">Invoice Number</th>
        <th scope="col">Net</th>
        <th scope="col">% Tax</th>
        <th scope="col">$ Tax</th>
        <th scope="col">Total</th>
        <th scope="col">&nbsp;</th>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices; index as i">
          <th scope="row">{{invoice.invoiceId}}</th>
          <td>${{ invoice.net }}</td>
          <td>{{ invoice.taxPercent }}%</td>
          <td>${{ invoice.tax }}</td>
          <td>${{ invoice.total }}</td>
          <td><button type="submit" class="btn btn-danger btn-block" (click)="removeInvoice(invoice.invoiceId)">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row mobileVersion" *ngIf="existInvoices">
  <div class="col align-self-center">
    <table *ngFor="let invoice of invoices; index as i" class="table text-center">
      <thead class="thead-dark">
        <th scope="col">Invoice Number</th>
        <th scope="col">{{invoice.invoiceId}}</th>
      </thead>
      <tbody>
        <tr>
          <th scope="col">Net</th>
          <td>${{ invoice.net }}</td>
        </tr>
        <tr>
          <th scope="col">% Tax</th>
          <td>{{ invoice.taxPercent }}%</td>
        </tr>
        <tr>
          <th scope="col">$ Tax</th>
          <td>${{ invoice.tax }}</td>
        </tr>
        <tr>
          <th scope="col">Total</th>
          <td>${{ invoice.total }}</td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit" class="btn btn-danger btn-block" (click)="removeInvoice(invoice.invoiceId)">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row rowBtnContinue" *ngIf="existInvoices">
  <div class="colBtnContinue col-3">
    <button type="submit" class="btn btn-primary btn-block" (click)="processAndContinue()">
      Process and Continue
    </button>
  </div>
</div>
