<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>InvoiceLoaderApp</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col align-self-center col-banner">
        <img src="../assets/img/Code Challenge Banner.jfif" alt="banner, relaxed office worker" class="banner" />
      </div>
    </div>
    <div class="row">
      <div class="col align-self-center">
        <form autocomplete="off" class="formInvoiceLoader">
            <div class="form-group row">
              <label class="col col-form-label">Invoice Number</label>
              <div class="col">
                <input class="form-control" type="number" placeholder="00000000" length="8">
              </div>
            </div>
            <div class="form-group row">
              <label class="col col-form-label">Net</label>
              <div class="col">
                <input class="form-control" type="number" placeholder="0">
              </div>
            </div>
          <div class="form-group row">
            <label class="col col-form-label">% Tax</label>
            <div class="col">
              <select class="custom-select">
                <option [ngValue]="21" disabled selected>Select Tax %</option>
                <option [ngValue]="0"> 0% </option>
                <option [ngValue]="10.5"> 10.5% </option>
                <option [ngValue]="21"> 21% </option>
                <option [ngValue]="27"> 27% </option>
             </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col col-form-label">Total</label>
            <div class="col">
              <input class="form-control" type="number" placeholder="0" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label class="col col-form-label">&nbsp;</label>
            <div class="col">
              <button type="submit" class="btn btn-outline-success btn-block btnForm">
                Add
              </button>
            </div>
          </div>
          <div class="form-group row">
            <label class="col col-form-label">&nbsp;</label>
            <div class="col">
              <button type="" class="btn btn-outline-danger btn-block btnForm">
                Clear
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col align-self-center">

      </div>
    </div>
    <div class="row rowBtnContinue">
      <div class="col-3">
        <button type="submit" class="btn btn-primary btn-block">
          Process and Continue
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col align-self-center">
        <!--aca va la api del clima-->
      </div>
    </div>
  </div>
</body>

</html>
